 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-c-plain colored"></i>
      <p>I feel comfortable working on the Back-end, Spent most of my years coding in C++ and Python..!</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>My main development languages are C++ and Python, but I have worked with Rust, Javascript, VB and more..</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-original-wordmark"></i>
      <i class="devicon-linux-plain-wordmark"></i>
      <p>Git, SVN, Linux, Docker, Openstack, ELK Stack, Grafana, Prometheus you name it, I have used a bajillion tools!</p>
    </div>
</div>
