<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-original"></i>
      <i class="devicon-cplusplus-original"></i>
      <i class="devicon-c-original"></i>
      <p>My main development languages are C++ and Python, but I have worked with Rust, Javascript, VB and more..</p>
    </div>
    <div class="tech">
      <h2>Databases/Filesystems</h2>
      <i class="devicon-mysql-original"></i>
      <i class="devicon-postgresql-original"></i>
      <i class="devicon-mongodb-original"></i>
      <p>Overtime I have worked with many databases and file systems some of them being MySQL, Postgres, MongoDB, Cassandra and more..</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-original"></i>
      <i class="devicon-docker-original"></i>
      <i class="devicon-linux-original"></i>
      <p>Git, SVN, Linux, Docker, Openstack, ELK Stack, Grafana, Prometheus you name it, I have used a bajillion tools!</p>
    </div>
</div>
